.title {
  color: white;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 249, 34),
    rgba(255, 0, 128),
    rgba(56, 2, 155, 0)
  );
  border-image-slice: 1;
  width: 400px;
}

.text {
  margin-top: 20px;
  composes: title;
  width: 600px;
}
